.input {
  width: 322px;
  font-size: 1em;
  line-height: 2.3em;
  background: transparent;
  border: 0 none;
  margin: 0 0 8px 43px;
  border-top: 0 none;
  border-right: 0 none;
  border-bottom: 1px solid #cbcbcb;
  border-left: 0 none;
}

.input:focus {
  outline: none;
}
